body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0px;
    background: #00274C;
    --Michigan-blue: #00274C;
    --Michigan-maize: #FFCB05;
}
.body-container {
    margin: 10 auto;
    background: #EDECEC;
    width: fit-content;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.image-container {
    left: 0;
    margin: auto;
    right: 0;
    text-align: center;
    width: 100%;
}
.image-container img {
    max-width: 100%;
}
h2 {
    margin: 10px;
}
a {
    color: #024794;
    text-decoration: underline;
    transition: color .2s ease-in-out;
}
a:hover {
    color: #000000;
}
p {
    margin-left: auto;
    margin-right: auto;
}
button {
    padding: 10px;
    font-size: 1.5em;
    margin: .1em;
}


.stars {
    font-size: 3em;
    line-height: 1em;
    margin: 5px;
    text-shadow: 0px 0px 5px var(--Michigan-blue);
    color: var(--Michigan-maize);
}
.accept_orders {
    width: 90%;
    height: auto;
/*    background: var(--Michigan-blue);
    color: var(--Michigan-maize);
    border-radius: 10px;
    border: solid 1px var(--Michigan-maize);
    outline: none;*/
}



#orders-container {
    overflow-x: auto;
}
#orders {
    border-collapse: collapse;
    width: 100%;
}
#orders td, #orders th {
    border: 1px solid #ddd;
    padding: 8px;
}
#orders tr:nth-child(even){background-color: #f2f2f2;}
#orders tr:hover {background-color: #ddd;}
#orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--Michigan-blue);
    color: var(--Michigan-maize);
}
#orders #sumrow {
    font-weight: bold;
    background-color: var(--Michigan-maize);
    color: var(--Michigan-blue);
}
#orders tfoot {
    font-weight: bold;
    background-color: var(--Michigan-blue);
    color: var(--Michigan-maize);
}
#orders tfoot tr:hover{
    background-color: inherit;
}

#date {
    height: 30px;
    border: 1px solid var(--Michigan-blue);
    font-size: 18px;
    border-radius: 5px;
}
