{% extends 'index.html' %}

{% block title %}Admin{% endblock %}

{% block body %}
<p><a href='./'>Home</a></p>
{% if dates %}
<p>
<div id="dates_dropdown">
    <label for="date">View date:</label>
    <select name="date" id="date" onchange="loadDate(this.value)">
        {% for d in dates: %}
            <option value="{{d}}" {% if d == pagedate %} selected {% endif %}>{{d}}</option>
        {% endfor %}
    </select>
</div>
</p>
{% endif %}
<div id="orders-container">
{% if orders %}
<table id="orders">
    <thead>
        <tr>
            <th>Territory</th>
            <th>Tier</th>
            <th>Quota</th>
            <th>Assigned Stars</th>
            <th>Percentage Complete</th>
        </tr>
    </thead>
    {% for order in orders: %}
        {% if order.sumrow %}
            <tr id="sumrow">
                <td colspan="2" rowspan="2">Tier {{order.tier}}</td>
                <td>{{order.quota}}</td>
                <td>{{order.assigned}}</td>
                <td>{{order.display_pct}}</td>
            </tr>
            <tr id="sumrow">
                <td>{{order.nterritories}}<br/>territories</td>
                <td>{{order.ncompleted}}<br/>completed</td>
                <td>{{order.completed_pct}}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{order.territory}}</td>
                <td>{{order.tier}}</td>
                <td>{{order.quota}}</td>
                <td>{{order.assigned}}</td>
                <td>{{order.display_pct}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% if totals %}
    <tfoot>
        <tr>
            <td colspan="2">Totals</td>
            <td>{{totals.quota}}</td>
            <td>{{totals.assigned}}</td>
            <td>{{totals.display_pct}}</td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% else %}
    Orders don't seem to be loaded yet.
{% endif %}
</div>

<script>
function loadDate(value) {
    window.location.assign('/admin?date='+value);
}
</script>

{% endblock %}