<html>
    <link href="{{url_for('static', filename='css/stylesheet.css')}}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>{% block title %} {% endblock %} - What Are My Orders?</title>
    </head>
    <body>
        <div class="body-container">
            <section class="image-container">
                <img src="{{url_for('static', filename='cfbr_wamo.png')}}">
            </section>
            {% if is_admin: %}<p><a href='./admin'>Admin</a></p>{% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
