{% extends 'index.html' %}

{% block title %} Order {% endblock %}

{% block body %}
<h2>Greetings, {{ username }}</h2>
<h2 class="stars">{{ current_stars * "✯" }}</h2>
<div>I see you have been playing for XX days. Thank you for your commitment.</div><br>
<div>
    {% if order: %}
    Today is {{ hoy }}. Your order is to attack/defend:
    <h2>{{ order }}</h2>
    Please submit your move at <a href='https://www.collegefootballrisk.com'>CollegeFootballRisk.com</a>.
    {% else: %}
    Orders have not been loaded for today. Please check back later.
    {% endif %}
</div><br>
<br>
{% if order: %}
<button onclick="window.location.href='{{confirm_url}}';" id="accept_orders">Accept Orders</button>
{% endif %}
{% endblock %}
