{% extends 'index.html' %}

{% block title %} Order {% endblock %}

{% block body %}
<h2>Greetings, {{ username }}</h2>
<h2 class="stars">{{ current_stars * "✯" }}</h2>
<div>
{% if orders: %}
    <p>Today is {{ hoy }}.</p>
    <p>
    {% if orders|length > 1: %}
        Click one of the buttons below to choose your deployment, soldier!
    {% else: %}
        Click the button below to accept your order to attack/defend
    {% endif %}
    </p>
    <p>
    {% for order in orders: %}
    <button onclick="window.location.href='{{confirm_url}}{{order[1]}}';" class="accept_orders">{{ order[0] }}</button><br>
    {% endfor %}
    </p>
    <p>Please submit your move at <a href='https://collegefootballrisk.com/#MyMove'>CollegeFootballRisk.com</a>.</p>
{% else: %}
    <p>Orders have not been loaded for today. Please check back later.</p>
{% endif %}
</div><br>
{% endblock %}
